
@font-face {
  font-family: 'digital-7';
  src: url('fonts/digital-7.ttf') format('truetype');
}

body{
    background-color: lightblue;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }

  .bloque{
    background-color: white;  
    padding: 60px 10px 5px;
    border-radius: 10px;
  }

  .pantalla { 
    font-family: 'digital-7', sans-serif;
    font-size: 50px;
    background-color: black;
    box-shadow: inset 0px 0px 0px 2px white;
    border: 8px solid black;
    color:greenyellow;
    border-radius: 5px;
    width: 350px;
    height: 60px;
    margin-bottom: 10px;
    /*direction: rtl;*/
  }
  
  .teclas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "hueco numero7 numero8 numero9 operadorDiv"
    "hueco numero4 numero5 numero6 operadorMul"
    "hueco numero1 numero2 numero3 operadorRes"
    "botonC numero0 botonPunto botonIgual operadorSum";
  }

  .botonNumero0,
  .botonNumero1,
  .botonNumero2,
  .botonNumero3,
  .botonNumero4,
  .botonNumero5,
  .botonNumero6,
  .botonNumero7,
  .botonNumero8,
  .botonNumero9,
  .botonPunto {
    border-radius: 5px;
    background-color:black;
    font-weight: 900;
    color:white;
    width: 65px;
    height: 50px;
    margin: 5px;  
  }
  .botonNumero0{
  grid-area: numero0;
  }

  .botonNumero0:hover,
  .botonNumero1:hover,
  .botonNumero2:hover,
  .botonNumero3:hover,
  .botonNumero4:hover,
  .botonNumero5:hover,
  .botonNumero6:hover,
  .botonNumero7:hover,
  .botonNumero8:hover,
  .botonNumero9:hover,
  .botonPunto:hover{
    background-color: rgb(68, 68, 68);
  }

  .botonNumero1 {
    grid-area: numero1;
  }
  
  .botonNumero2 {
    grid-area: numero2;
  }
  
  .botonNumero3 {
    grid-area: numero3;
  }
  
  .botonNumero4 {
    grid-area: numero4;
  }
  
  .botonNumero5 {
    grid-area: numero5;
  }
  
  .botonNumero6 {
    grid-area: numero6;
  }

  .botonNumero7 {
    grid-area: numero7;
  }
  
  .botonNumero8 {
    grid-area: numero8;
  }

  .botonNumero9 {
    grid-area: numero9;
  }

  .botonC {
    border-radius: 5px;
    background-color:red;
    font-weight: 900;
    color:white;
    width: 65px;
    height: 50px;
    margin: 5px;
    grid-area: botonC;
  }

  .botonC:hover{
    background-color:rgb(252, 138, 138);
  }

  .operadorSum,
  .operadorRes,
  .operadorMul,
  .operadorDiv,
  .botonIgual {
    border-radius: 5px;
    background-color:rgb(101, 152, 174);
    font-weight: 900;
    color:white;
    width: 65px;
    height: 50px;
    margin: 5px;
  }

  .operadorSum:hover,
  .operadorRes:hover,
  .operadorMul:hover,
  .operadorDiv:hover,
  .botonIgual:hover {
    background-color:rgb(140, 186, 206);
  }

  .botonIgual{
    grid-area: botonIgual;
  }

  .botonPunto {
    grid-area: botonPunto;
  }

  .operadorDiv {
    grid-area: operadorDiv;
  }
  
  .operadorMul {
    grid-area: operadorMul;
  }
  
  .operadorRes {
    grid-area: operadorRes;
  }
  
  .operadorSum {  
    grid-area: operadorSum;
  }

  .bloqueCasio{
    background-color: black;
    border-radius: 5px;
  } 

  .logoCasio {
    padding-left: 40px;
    font-family: sans-serif;
    font-size: large;
    font-weight: 900;
    color:white;
  }




  
  
  
  
